body {
  background-color: #ffffff;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 12px;
  max-width: 850px;
}
a {
  color: #0000ff;
}
a:visited {
  color: #551a8b;
}
figure {
  margin-right: 0px;
  margin-left: 0px;
}
